@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatDelayed {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatSlow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 0.1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes floatUpDelayed {
  0% {
    transform: translateY(0);
    opacity: 0.1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.animateFloat {
  animation: float 6s ease-in-out infinite;
}

.animateFloatDelayed {
  animation: floatDelayed 8s ease-in-out infinite;
  animation-delay: 2s;
}

.animateFloatSlow {
  animation: floatSlow 10s ease-in-out infinite;
  animation-delay: 1s;
}

.animateFloatUp {
  animation: floatUp 10s ease-in-out infinite;
}

.animateFloatUpDelayed {
  animation: floatUpDelayed 12s ease-in-out infinite;
  animation-delay: 5s;
}
