REACT_APP_DEMO_USER_EMAIL=demo_user_email_here
REACT_APP_DEMO_USER_PASSWORD=demo_user_password_here
REACT_APP_DEMO_ADMIN_EMAIL=demo_admin_email_here
REACT_APP_DEMO_ADMIN_PASSWORD=demo_admin_password_here